
body {
	font-family: 'Roboto', sans-serif;
}

.checked {
    color: orange;
}

.alert{
	padding: 1.5rem 1rem;
}

.lead {
    font-size: 2rem;
    font-weight: 500;
}

.btn-group-sm>.btn, .btn-sm {
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    margin: 0.3rem;
}

.slideshow li:nth-child(1) { 
  background-image: url(http://i.imgur.com/K3mPv14.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://i.imgur.com/SBEmFpv.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}

.col-md-4 {
	padding-top: 20px;
}

.col-md-8 {
	padding-top: 30px;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.delete-camp-btn {
	display: inline;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-img-top.show {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}


.col-md-4.show {
	padding-top: 0;
}


.profile-icon{
	margin-right: 10px;
}

.profile-card{
	padding:0;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #ffffff00;
    border-radius: .3rem;
}

#comment {
	margin-top: 20px;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}



@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}